<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="File" fileName="logs/app.log">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c %x - %m%n"/>
    </File>
  </Appenders>

  <Loggers>
     <Root>
         <AppenderRef ref="File" level="error "/>
         <AppenderRef ref="File" level="info" />
     </Root>
  </Loggers>
</Configuration>